.button {
  &_nostyle {
    padding: 0;
    order: -1;
    background: none;
    border: none;
    // padding: 0.5rem;
    position: absolute;
    left: 0.6rem;

    height: 0.9rem;

    // left: 0.9rem;
    // z-index: 9999;

    &--video {
      height: 6rem;
      width: 6rem;

      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    &__icon {
      position: absolute;
      top: 0.5rem;
      transform: translateY(-50%);

      height: 0.9rem;
      width: 0.9rem;
    }
  }
}

.buttons-share {
  margin-right: 0;
  margin-left: 0;
  &__item {
    display: flex;
    align-items: center;
    // flex-basis: auto;
    background-color: #fff;
    height: 2.02rem;
    margin-left: 0.8rem;
    border: 1px solid #b4b4b4;
    font-size: 0.8rem;
  }

  &__icon {
    margin-right: 0.4rem;
    margin-left: 0.8rem;
  }

  &__name {
    margin-right: 0.8rem;
  }
}
